:root {
  --blue: #1D1DFB;
  --dark-blue: #0A032D;
  --green: #10EDB0;
  --white: #ffffff;

  --x20: 20px;
  --x25: 25px;
  --x30: 30px;
  --x35: 35px;

  --w100: 100;
  --w300: 300;
  --w400: 400;
  --w500: 500;
  --w700: 700;
  --w900: 900;

}
html{
  font-size: var(--x20);
}

body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--blue);
}

