@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400&family=Roboto:ital,wght@0,300;1,300&display=swap');

:root {
  --blue: #1D1DFB;
  --dark-blue: #0A032D;
  --green: #10EDB0;
  --white: #ffffff;

  --x20: 20px;
  --x25: 25px;
  --x30: 30px;
  --x35: 35px;

  --w100: 100;
  --w300: 300;
  --w400: 400;
  --w500: 500;
  --w700: 700;
  --w900: 900;

  --p05: 5%;
  --p10: 10%;
  --p15: 15%;
  --p20: 20%;
  --p25: 25%;
  --p30: 30%;

}

html {
  font-size: var(--x20);
}

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  background-color: var(--blue);
}